@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --orange1: #ff9a64;
  --pink1: #ffd2cc;
  --white1: #ffffff;
  --white2: #f5f5f5;
  --white3: #d9d9d9;
  --grey1: #878787;
  --black: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {
  h1 {
    font-size: 50px;
    font-weight: 500px;
  }
  h2 {
    font-size: 40px;
    font-weight: 400px;
  }
  h3 {
    font-size: 30px;
    font-weight: 400px;
  }
  h4 {
    font-size: 20px;
    font-weight: 300px;
  }

  p {
    font-size: 15px;
    font-weight: 200px;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

main {
  background-color: var(--white2);
  height: 100vh;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px var(--white2) inset !important;
    -webkit-text-fill-color: var(--grey1) !important;
}
