.loginFormContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    min-width: 200px;
    margin-top: 200px;
}

.loginTitleContainer {
    margin-bottom: 40px;
    width: 199px;
    height: 43px;
}

.loginTitle {
    color: var(--black);
    font-size: 36px;
}

.loginInput {
    margin: 10px 0px;
    color: var(--grey1);
    background-color: var(--white2);
    font-size: 16px;
    width: 386px;
    height: 49px;
    text-indent: 10px;
}

.loginInput:-webkit-autofill,
.loginInput:-webkit-autofill:hover,
.loginInput:-webkit-autofill:focus,
.loginInput:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px var(--white2) inset !important;
    -webkit-text-fill-color: black !important;
}

.loginBtn {
    margin-top: 20px;
    width: 193px;
    align-self: center;
    color: var(--black);
    font-size: 24px;
}

.loginBtn:hover {
    background-color: var(--orange1);
    color: var(--white1);
}

.loginInput, .loginBtn {
    padding: 7px;
    border-radius: 10px;
    border: 1px solid;
    border-color: var(--orange1);
    font-family: Arial, Helvetica, sans-serif;
}